.btn {
    width: 100%;
    min-height: 35px;
    margin: 10px 0;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f7a52b;
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:disabled {
    box-shadow: none;
    cursor: context-menu;
}


@media only screen and (max-width: 800px) {
    .btn {
        font-size: 16px;
    }
}

@media only screen and (max-width: 400px) {
    .btn {
        font-size: 14px;
    }
}