.message {
    font-size: 16px;
}

@media only screen and (max-width: 800px) {
    .message {
        font-size: 14px;
    }
}

@media only screen and (max-width: 600px) {
    .message {
        font-size: 12px;
    }
}

@media only screen and (max-width: 300px) {
    .message {
        font-size: 10px;
    }
}